/* Portfolio */

* {
    box-sizing: border-box;
    
  }

/* Desktop */
  
body {
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }

h1 {
    font-size: 40px;
    word-break: break-all;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 60px;
  }

h3 {
    font-size: 25px;
    word-break: break-all;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 60px;
  }

.content {
    max-width: 1400px; 
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
    justify-content: space-evenly;
  }

.row {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.row__link {
    width: 30%;
}


.row__link img {
    width: 100%;
}

.contacts {
    display: flex;
    align-items: center;
    
}

p {
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    text-align: justify;
}

footer {
    display: flex;
}


/* Mobile */

@media screen and (max-width: 678px) {
    .row {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }


    .content {
        margin-bottom: 30px;
    }

    p {
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    font-size: 70%;
}

}